 <h3>Veuillez choisir votre politique </h3>
    <div class="form-group"><!--debut-->
      <div class="custom-control custom-radio">
        <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input" checked="">
        <label class="custom-control-label" for="customRadio1">Pas de possibilité d'annulation une fois le client a réservé</label>
      </div>
      <div class="custom-control custom-radio">
        <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
        <label class="custom-control-label" for="customRadio2">Nécessite de payement d'un acompte pour toute réservation</label>
      </div>

      <div class="custom-control custom-radio">
        <input type="radio" id="customRadio3" name="customRadio" class="custom-control-input">
        <label class="custom-control-label" for="customRadio3">Possibilité de modification</label>
          <div class="form-check">
          
           <input class="form-check-input" type="checkbox" value="" checked="">
           <label class="form-check-label">Avec frais</label>
         </div>
      </div>
    </div><!--Fin-->