{% extends 'base.html.twig' %}

{% block title 'Edit rdv #' ~ Reservations.id %}

{% block body %}

 {{ include('Layouts/partials/_nav.html.twig') }}

<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    .container  { justify-content: center; flex-wrap: wrap; display: inline-flex;  grid-gap: 2px 2em;}
</style>
   </br>
   <form class="form-group col-lg-6">
   	<h1>Edit Rdv #{{ Reservations.id }}</h1>
   	<label>Veuillez payer {{ Reservations.frais }} € frais de modifications</label></br>
   	<input type="number" name="frais" value="Frais"></br></br>
		

      <button type="button" class="btn btn-warning col-lg-5"><a href="{{ path('app_rdv') }}" class="card-link"> 
      <span class="glyphicon glyphicon-calendar"></span><B>Valider</B></a></br></button>


   </form>
    

   </br>
   </br>
   <!--ici fomulaire pour payer son frai de modification-->
{% endblock %}