{% extends 'base.html.twig' %}

{% block title %}Hello PriseRdvController!{% endblock %}

{% block body %}

 {{ include('Layouts/partials/_nav.html.twig') }}

<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    .container  { justify-content: center; flex-wrap: wrap; display: inline-flex;  grid-gap: 2px 2em;}
</style>

   </br>
   </br>

 <div class="container mb-3 form-check">
  {{ form(search_form)}}
  
   

   

  </form> 


  </div>
</div>
</br>



</div>
{% endblock %}
