<footer class="container text-center mt-5">
   <div back-groundcolor="Red">
    <p class="text-muted">
        <small>
            &copy; {{ 'now'|date('Y') }} &middot; 
            Built with <span class="text-danger">&hearts;</span>TDN</a>.
        </small>
        Cookies

Soyons clair : aucune information envoyé à Google ! Nous utilisons des cookies pour comprendre votre utilisation du site et en améliorer l'organisation. Les cookies peuvent être les nôtres ou ceux d'applications tiers que nous utilisons. Nous veillons à réduire au strict minimum le transfert d'information. En poursuivant votre navigation, nous considérons que vous acceptez l’usage des cookies.
    </p>
</div>
</footer>
